﻿@model IEnumerable<AvermasterTest.Models.DeliveryPoint>

@{
    ViewBag.Title = "DeliveryPoints";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Точки выдачи</h2>


<table class="table">
    <tr>
        <th>
            Адрес
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        
    </tr>
}

</table>
