﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Заказы</h2>

<p>Пока справочник зказов в разраотке, Вы можете посомтреть список @Html.ActionLink("продуктов", "Products") и @Html.ActionLink("адресов самовывоза", "DeliveryPoints")</p>
<p>Товаров в базе: @ViewBag.Test</p>

