﻿@model IEnumerable<AvermasterTest.Models.Product>

@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Продукты</h2>


<table class="table">
    <tr>
        <th>
           Название
        </th>
        <th>
            Цена, руб.
        </th>        
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>        
    </tr>
}

</table>
